/*style for header*/
.header1{
    background-color: rgb(253, 206, 189);
}
.header1 ul li{
    display: inline-block;
}
.header1 ul li a{
    text-decoration: none;
    padding: 0 12px;
    text-align: center;
}
.header1 ul li a:hover{
    text-decoration: none;
}