/*style for header*/
*{
    padding:0;
    margin: 0;
}
.header1{
    margin-top: 15px;
}
.header1 ul li{
    display: inline-block;
}
.header1 ul li a{
    text-decoration: none;
    padding: 0 12px;
    text-align: center;
}
.header1 ul li a:hover{
    text-decoration: none;
}
.header2 .input-group{
    margin-top: 80px;
}
i{
    color: rgb(167, 0, 0);
}
.TuiHang{
    margin-top: 80px;
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
.navi{
    background-color: rgb(243, 243, 243);
    box-shadow: 0px 2px 3px rgb(230, 230, 230);
}
.navi ul{
    text-align: center;
}
.navi li{
    display: inline-block;
    padding: 18px 30px;
}
.navi li a{
    color: #3F5455;
    font-weight: bold;
    font-size: 15px;
}
.slideShow{
    width: 1100px;

}
.section1{
    margin: 20px 0 10px;
}
.section1 h1{
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.section1 img{
    box-shadow:2px 2px 3px rgb(212, 212, 212);
    margin-top: 20px;
}
.carousel-inner > .item > img {
    width:640px;
    height:360px;
}
footer ul li{
    display: inline-block;
}
footer ul li a{
    padding:0 20px;
}
footer ul li a:hover{
    color: rgb(128, 128, 128);
    
}
.menuthumuc{
    border-right: rgb(206, 206, 206) solid thin;
}
.menuthumuc h4{
    font-weight: bold;
    font-size: 15px;
    color: #3F5455;
}
.menuthumuc ul li{
    list-style-type: none;
    text-indent: 15px;
}
.menuthumuc ul li a{
    font-size: 12px;
}

